<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" android:installLocation="preferExternal" package="com.example.mygame" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <supports-screens android:largeScreens="true" android:resizeable="true"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="" android:icon="" android:isGame="true" android:label="" android:name="com.example.mygame.RunnerApplication">
        <activity android:alwaysRetainTaskState="true" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale" android:exported="true" android:label="" android:launchMode="singleTask" android:name="com.example.mygame.RunnerActivity" android:theme="@style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="xperiaplayoptimized_content" android:resource=""/>
        <meta-data android:name="game_display_name" android:resource=""/>
        <meta-data android:name="YYiCadeSupport" android:value="true"/>
        <meta-data android:name="UseShaders" android:value="true"/>
        <meta-data android:name="YYUse24Bit" android:value="1"/>
        <meta-data android:name="OrientLandscape" android:value="-1"/>
        <meta-data android:name="OrientPortrait" android:value="0"/>
        <meta-data android:name="OrientLandscapeFlipped" android:value="-1"/>
        <meta-data android:name="OrientPortraitFlipped" android:value="0"/>
        <meta-data android:name="SplashscreenTime" android:value="0"/>
        <meta-data android:name="SleepTimer" android:value="4"/>
        <meta-data android:name="SplashscreenFill" android:value="0"/>
        <meta-data android:name="YYLaunchScreenBackgroundColour" android:value="255"/>
        <meta-data android:name="IsBuiltAsYoYoRunner" android:value="Yes"/>
        <meta-data android:name="YYNumExtensionClasses" android:value="0"/>
    </application>
</manifest>
